RewriteEngine on
RewriteCond $1 !^(index\.php|resources|documents|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
<IfModule mod_headers.c>
    # WEEK
    <FilesMatch "\.(ico|pdf|flv|jpg|JPG|jpeg|png|gif|js|css|swf|html|txt)$">
        Header set Cache-Control "max-age=290304000, public"
    </FilesMatch>
</IfModule>
